ANTHROPIC_API_KEY=sk-ant-...
AWS_DEFAULT_REGION=us-east-1
FROM_EMAIL=royalties@opp.pub
SLACK_ROYALTY_WEBHOOK=https://hooks.slack.com/services/...
ROYALTY_TABLE=opp-royalty-statements
ISSUES_TABLE=opp-royalty-issues
